.product {
  border: 1px solid #95a0a7;
  border-radius: 8px;
  width: 300px;
  height: 508px;
  position: relative;
}
.product img {
  width: 286px;
  height: 286px;
  margin: 7px;
  border-radius: 8px;
}
.product-info {
  padding-left: 14px;
}
.product-name {
  margin-top: 0;
  margin-bottom: 0;
  width: 267px;
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.032px;
  columns: #0e161a;
}

.product p {
  color: #2a414f;
  width: 131px;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.048px;
}
/* .product-price {
  color: #0e161a;
  width: 94px;
  font-size: 17px;
  letter-spacing: 0.026px;
} */
.btn-card {
  width: 301px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #95a0a7;
  background: #ffe0b3;
  position: absolute;
  bottom: 0;
}
.btn-card:hover {
  background-color: #ff9900;
}
