.header {
  height: 80px;
  background-color: #1c2b35;
  display: flex;
  align-items: center;
  padding-right: 97px;
  padding-left: 97px;
}
.header img {
  height: 80px;
}

nav.header {
  display: flex;
  justify-content: space-between;
}

nav.header a {
  color: #ffffff;
  margin-left: 35px;
}
nav.header a:hover {
  color: #ff9900;
}
